/*
**
** The CSS for the haccesible prototype case 3
**
** Written by Tomas Stenlund
**
*/

/* The root container */
.ha-root {
  height: 100vh;
}

/* The main */
.ha-main {
  padding: 1em 1em 1em;
  height: 85%;
}

/* The nearby page */
.ha-nearby {
  height: 100%;
}

/* The map on the nearby page */
.ha-nearby-map {
  height: 100%
}

/* The point page */
.ha-point {
  height: 100%;
}

/* The login page */
.ha-login {
  height: 100%;
}

/* Alert class */
.ha-alert {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

/* The login form */
.ha-form-login {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
  }

/* The point view, update and create form */
.ha-form-point {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

/* Specific map classes */
#ha-map {
  width: 100%;
  height: 100%;
}

.ha-map-ctrl {
  top: 4.5em;
  left: .5em;
}

.ha-map-add-item {
  border-radius: 2px 2px 0 0;
}

/* The refresh item for the map */
.ha-map-edit {
  border-radius: 0 0 0 0;
}
/* The refresh item for the map */
.ha-map-refresh {
  border-radius: 0 0 0 0;
}

/* The center item for the map */
.ha-map-center {
  border-radius: 0 0 2px 2px;
}
