.ha-main {
  padding: 60px 15px 0;
  height: 100%;
}

.ha-root {
  height: 100vh;
}

.ha-nearby {
  height: 100%;
}

.ha-nearby-map {
  height: 100%
}

.alert-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
  }

  #map {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
  }

  .map-add-item {
    top: 65px;
    left: .5em;
  }
  
  .map-refresh {
    top: 93px;
    left: .5em;
  }

  .map-center {
    top: 121px;
    left: .5em;
  }

  .ol-touch .add-item {
    top: 80px;
  }

  