*.java linguist-detectable=false
 *.js linguist-detectable=false
 *.html linguist-detectable=false
 *.xml linguist-detectable=false
 *.purs linguist-detectable=true
 *.dhall linguist-detectable=false
 *.html linguist-detectable=false
